/* Custom CSS */
.story-bg-text{
    padding: 30px;
    color: #fff;
    font-size: 130%;
    line-height: 1.5em;
    text-align: justify;
}

.game-genre p, .gameplay p{
    font-size: 130%;
    line-height: 1.5em;
    text-align: justify;
    margin-top: 100px;
}

.gameplay{
    padding: 50px;
    margin-top: 50px;
}
.gameplay p{
    color: #fff;
}

.photos{
    padding: 50px 0;
}